@media all and (max-width:575.5px) {

    /* xs */
    .top-page2 {
        height: 290px;
        background-color: #FF9064;
        margin-top: -20px;
    }

    .top-page-3 {
        height: 350px;
        background-color: #FF9064;
    }

    .mid-page {
        height: 150px;
        background-color: white;
    }

    .toppage0 {
        height: 2000px;
        background-color: bisque;
    }

    .pic1 {
        margin-top: 20px;
        width: 150px;
        height: 150px;
    }

    h1 {
        font-size: 27px;
        line-height: 1;
        font-family: sans-serif;
    }

    .p-text1 {
        font-size: 18px;
        font-family: sans-serif;
    }

    .p-top1 {
        font-size: 20px;
        line-height: 2;
    }

    span.p-top2 {
        font-size: 15px;
    }

    .mid-p1 {
        font-size: 28px;
    }

    .mid-p2 {
        color: #000000;
        font-size: 16px;
    }

    .h-mid {
        font-size: 20px;
    }

    .mid-p3 {
        color: #FF9064;
        text-underline-offset: 10px;
        text-decoration-thickness: 3px;
    }

    .col-mid {
        margin-bottom: 50px;
        height: 340px;
    }

    .col-mid1 {
        margin-bottom: 50px;
        height: 340px;
    }

    .col-mid2 {
        margin-bottom: 50px;
        height: 340px;
    }

    .col-mid3 {
        margin-bottom: 50px;
        height: 340px;
    }

    .span-work {
        height: 100px;
        margin-top: 50px;
        margin-left: 5%;
    }

    .span1 {
        font-size: 28px;
    }

    .my-work-photo {
        background-image: url(../images/gallery1.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 90%;
        height: 335px;
    }

    .my-work-photo1 {
        background-image: url(../images/gallery2.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 90%;
        height: 335px;
    }

    .my-work-photo2 {
        background-image: url(../images/gallery3.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 90%;
        height: 335px;
    }

    .my-work-photo3 {
        background-image: url(../images/gallery4.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 90%;
        height: 335px;
    }

    .more-work {
        width: 100%;
        height: 170px;
        color: #FF9064;
    }

    .button-more-work {
        width: 165px;
        height: 50px;
        border: 2px solid #FF9064;
    }

    .half-70 {
        width: 75%;
        height: 850px;
        background-color: #F8F8F8;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }

    .about-p2 {
        font-size: 26px;
        color: #FF9064;
    }

    .mid-slider {
        height: 450px;
    }

    .num1 {
        width: 100%;
    }

    .progress-1>span {
        color: #FF9064;
    }

    .progress-bar1 {
        height: 4px;
        background-color: #FFE7DE;
    }

    .progress-bar11 {
        width: 70%;
        background-color: #FF9064;
    }
}

/* ***************************************************************************************** */
@media all and (min-width:576px) and (max-width:767px) {

    /* sm */

    .top-page2 {
        height: 151px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .top-page-3 {
        height: 250px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .toppage0 {
        height: 2000px;
        background-color: bisque;
    }

    .mid-page {
        height: 150px;
        background-color: white;
    }

    .pic1 {
        width: 150px;
        height: 150px;
    }

    h1 {
        font-size: 34px;
        line-height: 1;
        font-family: sans-serif;
    }

    .p-text-1 {
        font-size: 23px;
        font-family: sans-serif;
    }

    .p-top1 {
        font-size: 20px;
        line-height: 1.75;
    }

    span.p-top2 {
        font-size: 15px;
    }

    .logo {
        width: 135px;
        height: 46px;
    }

    .mid-p1 {
        font-size: 31px;
        margin-left: 70px;
    }

    .mid-p2 {
        color: #000000;
        font-size: 16px;
    }

    .h-mid {
        font-size: 20px;
    }

    .mid-p3 {
        color: #FF9064;
        font-size: 16px;
        text-underline-offset: 10px;
        text-decoration-thickness: 1.5px;
    }

    .col-mid {
        border-bottom: 1px solid #EFEFEF;
        border-right: 1px solid #EFEFEF;
        height: 400px;
    }

    .col-mid1 {
        border-bottom: 1px solid #EFEFEF;
        border-left: 1px solid #EFEFEF;
        height: 400px;
    }

    .col-mid2 {
        border-top: 1px solid #EFEFEF;
        border-right: 1px solid #EFEFEF;
        height: 400px;
    }

    .col-mid3 {
        border-top: 1px solid #EFEFEF;
        border-left: 1px solid #EFEFEF;
        height: 400px;
    }

    .img-midd {
        margin-top: 50px;
    }

    .span-work {
        height: 100px;
        margin-top: 50px;
        margin-left: 3%;
    }

    .span1 {
        font-size: 31px;
    }

    .my-work-photo {
        background-image: url(../images/gallery1.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 240px;
        height: 335px;
    }

    .my-work-photo1 {
        background-image: url(../images/gallery2.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 240px;
        height: 335px;
    }

    .my-work-photo2 {
        background-image: url(../images/gallery3.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 240px;
        height: 335px;
    }

    .my-work-photo3 {
        background-image: url(../images/gallery4.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 240px;
        height: 335px;
    }

    .more-work {
        width: 100%;
        height: 170px;
        color: #FF9064;
    }

    .button-more-work {
        width: 165px;
        height: 50px;
        border: 2px solid #FF9064;
    }

    .half-70 {
        width: 75%;
        height: 850px;
        background-color: #F8F8F8;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }

    .about-p2 {
        font-size: 26px;
        color: #FF9064;
    }

    .mid-slider {
        height: 450px;
    }

    .num1 {
        width: 100%;
    }

    .progress-1>span {
        color: #FF9064;
    }

    .progress-bar1 {
        height: 4px;
        background-color: #FFE7DE;
    }

    .progress-bar11 {
        width: 70%;
        background-color: #FF9064;
    }
}

/* ***************************************************************************************** */
@media all and (min-width:768px) and (max-width:991.5px) {

    /* md */
    .top-page2 {
        height: 250px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .top-page-3 {
        height: 210px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .mid-page {
        height: 150px;
        background-color: white;
    }

    .pic1 {
        width: 250px;
        height: 250px;
    }

    h1 {
        font-size: 40px;
        line-height: 1;
        font-family: sans-serif;
    }

    .p-text-1 {
        font-size: 28px;
        font-family: sans-serif;
    }

    .p-top1 {
        font-size: 20px;
        line-height: 1.75;
    }

    span.p-top2 {
        font-size: 15px;
    }

    .mid-p1 {
        font-size: 45px;
        margin-left: 85px;
    }

    .logo {
        width: 135px;
        height: 46px;
    }

    .mid-p2 {
        color: #000000;
        font-size: 16px;
    }

    .h-mid {
        font-size: 20px;
    }

    .mid-p3 {
        color: #FF9064;
        text-underline-offset: 10px;
        text-decoration-thickness: 3px;
    }

    .col-mid {
        border-bottom: 1px solid #EFEFEF;
        border-right: 1px solid #EFEFEF;
        height: 377px;
    }

    .col-mid1 {
        border-bottom: 1px solid #EFEFEF;
        border-left: 1px solid #EFEFEF;
        height: 377px;
    }

    .col-mid2 {
        border-top: 1px solid #EFEFEF;
        border-right: 1px solid #EFEFEF;
        height: 377px;
    }

    .col-mid3 {
        border-top: 1px solid #EFEFEF;
        border-left: 1px solid #EFEFEF;
        height: 377px;
    }

    .img-midd {
        margin-top: 50px;
    }

    .span-work {
        height: 100px;
        margin-top: 50px;
    }

    .span1 {
        font-size: 28px;
    }

    .my-work-photo {
        background-image: url(../images/gallery1.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 330px;
        height: 380px;
    }

    .my-work-photo1 {
        background-image: url(../images/gallery2.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 330px;
        height: 380px;
    }

    .my-work-photo2 {
        background-image: url(../images/gallery3.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 330px;
        height: 380px;
    }

    .my-work-photo3 {
        background-image: url(../images/gallery4.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 330px;
        height: 380px;
    }

    .more-work {
        width: 100%;
        height: 170px;
        color: #FF9064;
    }

    .button-more-work {
        width: 165px;
        height: 50px;
        border: 2px solid #FF9064;
    }

    .half-70 {
        width: 75%;
        height: 850px;
        background-color: #F8F8F8;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }

    .about-p2 {
        font-size: 26px;
        color: #FF9064;
    }

    .mid-slider {
        width: 100%;
        height: 450px;
    }

    .num1 {
        width: 100%;
    }

    .progress-1>span {
        color: #FF9064;
    }

    .progress-bar1 {
        height: 4px;
        background-color: #FFE7DE;
    }

    .progress-bar11 {
        width: 70%;
        background-color: #FF9064;
    }
}

/* ***************************************************************************************** */
@media all and (min-width:992px) and (max-width:1199px) {

    /* lg */
    .nav-bar {
        background-color: aqua;
    }

    .top-page2 {
        height: 350px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .top-page-3 {
        height: 200px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .mid-page {
        height: 100px;
        background-color: white;
    }

    .toppage0 {
        height: 2000px;
        background-color: bisque;
    }

    .pic1 {
        width: 327px;
        height: 327px;
    }

    h1 {
        font-size: 53px;
        line-height: 1;
        font-family: sans-serif;
    }

    .p-text-1 {
        font-size: 30px;
        font-family: sans-serif;
    }

    .p-top1 {
        font-size: 20px;
        line-height: 1.75;
    }

    span.p-top2 {
        font-size: 26px;
    }

    .mid-p1 {
        font-size: 41px;
        margin-left: 20px;
    }

    .mid-p2 {
        color: #000000;
        font-size: 16px;
    }

    .h-mid {
        font-size: 20px;
    }

    .mid-p3 {
        color: #FF9064;
        text-underline-offset: 10px;
        text-decoration-thickness: 3px;
    }

    .col-mid {
        border-bottom: 1px solid #EFEFEF;
        border-right: 1px solid #EFEFEF;
        height: 350px;
    }

    .col-mid1 {
        border-bottom: 1px solid #EFEFEF;
        border-left: 1px solid #EFEFEF;
        height: 350px;
    }

    .col-mid2 {
        border-top: 1px solid #EFEFEF;
        border-right: 1px solid #EFEFEF;
        height: 350px;
    }

    .col-mid3 {
        border-top: 1px solid #EFEFEF;
        border-left: 1px solid #EFEFEF;
        height: 350px;
    }

    .img-midd {
        margin-top: 50px;
    }

    .span-work {
        height: 100px;
        margin-top: 50px;
        margin-left: 2%;
    }

    .span1 {
        font-size: 41px;
    }

    .my-work-photo {
        background-image: url(../images/gallery1.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 450px;
        height: 400px;
    }

    .my-work-photo1 {
        background-image: url(../images/gallery2.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 450px;
        height: 400px;
    }

    .my-work-photo2 {
        background-image: url(../images/gallery3.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 450px;
        height: 400px;
    }

    .my-work-photo3 {
        background-image: url(../images/gallery4.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 450px;
        height: 400px;
    }

    .more-work {
        width: 100%;
        height: 170px;
        color: #FF9064;
    }

    .button-more-work {
        width: 165px;
        height: 50px;
        border: 2px solid #FF9064;
    }

    .half-70 {
        width: 75%;
        height: 850px;
        background-color: #F8F8F8;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }

    .about-p2 {
        font-size: 26px;
        color: #FF9064;
    }

    .mid-slider {
        height: 450px;
    }

    .num-all {
        margin-top: 10%;
    }

    .num1 {
        width: 450px;
    }

    .progress-1>span {
        color: #FF9064;
    }

    .progress-bar1 {
        height: 4px;
        background-color: #FFE7DE;
    }

    .progress-bar11 {
        width: 70%;
        background-color: #FF9064;
    }
}

/* ***************************************************************************************** */
@media all and (min-width:1200px) and (max-width:1399.5px) {

    /* xl */

    .top-page2 {
        height: 350px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .top-page-3 {
        height: 250px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .mid-page {
        height: 250px;
        background-color: white;
    }

    .toppage0 {
        height: 2000px;
        background-color: bisque;
    }

    .pic1 {
        width: 327px;
        height: 327px;
    }

    h1 {
        font-size: 70px;
        line-height: 1;
        font-family: sans-serif;
    }

    .p-text-1 {
        font-size: 30px;
        font-family: sans-serif;
    }

    .p-top1 {
        font-size: 20px;
        line-height: 2;
    }

    span.p-top2 {
        font-size: 26px;
    }

    .mid-p1 {
        font-size: 50px;
        margin-left: 50px;
        margin-top: 80px;
    }

    .mid-p2 {
        color: #000000;
        font-size: 16px;
    }

    .h-mid {
        font-size: 20px;
    }

    .mid-p3 {
        color: #FF9064;
        text-underline-offset: 10px;
        text-decoration-thickness: 3px;
    }

    .col-mid {
        border-bottom: 1px solid #EFEFEF;
        border-right: 1px solid #EFEFEF;
        height: 320px;
    }

    .col-mid1 {
        border-bottom: 1px solid #EFEFEF;
        border-left: 1px solid #EFEFEF;
        height: 320px;
    }

    .col-mid2 {
        border-top: 1px solid #EFEFEF;
        border-right: 1px solid #EFEFEF;
        height: 320px;
    }

    .col-mid3 {
        border-top: 1px solid #EFEFEF;
        border-left: 1px solid #EFEFEF;
        height: 320px;
    }

    .img-midd {
        margin-top: 50px;
    }

    .span-work {
        height: 100px;
        margin-top: 50px;
        margin-left: 9%;
    }

    .span1 {
        font-size: 41px;
    }

    .my-work-photo {
        background-image: url(../images/gallery1.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 570px;
        height: 400px;
    }

    .my-work-photo1 {
        background-image: url(../images/gallery2.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 570px;
        height: 400px;
    }

    .my-work-photo2 {
        background-image: url(../images/gallery3.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 570px;
        height: 400px;
    }

    .my-work-photo3 {
        background-image: url(../images/gallery4.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 570px;
        height: 400px;
    }

    .more-work {
        width: 100%;
        height: 170px;
        color: #FF9064;
    }

    .button-more-work {
        width: 165px;
        height: 50px;
        border: 2px solid #FF9064;

    }

    .half-70 {
        width: 75%;
        height: 850px;
        background-color: #F8F8F8;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }

    .about-h2 {
        font-size: 50px;
    }

    .about-p2 {
        font-size: 26px;
        color: #FF9064;
    }

    .mid-slider {
        height: 450px;
    }

    .num-all {
        margin-top: 10%;
    }

    .num1 {
        width: 570px;
    }

    .progress-1>span {
        color: #FF9064;
    }

    .progress-bar1 {
        height: 4px;
        background-color: #FFE7DE;
    }

    .progress-bar11 {
        width: 70%;
        background-color: #FF9064;
    }
}

/* ***************************************************************************************** */
@media all and (min-width:1400px) {

    /* xxl */

    .top-page2 {
        height: 350px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .toppage0 {
        height: 2000px;
        background-color: bisque;
    }

    .top-page-3 {
        height: 200px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .mid-page {
        height: 250px;
        background-color: white;
    }

    .pic1 {
        width: 327px;
        height: 327px;
    }

    h1 {
        font-size: 70px;
        line-height: 1;
        font-family: sans-serif;
    }

    .p-text-1 {
        font-size: 30px;
        font-family: sans-serif;
    }

    .p-top1 {
        font-size: 20px;
    }

    span.p-top2 {
        font-size: 26px;
    }

    .mid-p1 {
        width: 100%;
        font-size: 50px;
        margin-left: 50%;
        margin-top: 80px;
    }

    .mid-p2 {
        color: #000000;
        font-size: 16px;
    }

    .h-mid {
        font-size: 20px;
    }

    .mid-p3 {
        color: #FF9064;
        text-underline-offset: 10px;
        text-decoration-thickness: 3px;
    }

    .col-mid {
        border-bottom: 1px solid #EFEFEF;
        border-right: 1px solid #EFEFEF;
        height: 320px;
    }

    .col-mid1 {
        border-bottom: 1px solid #EFEFEF;
        border-left: 1px solid #EFEFEF;
        height: 320px;
    }

    .col-mid2 {
        border-top: 1px solid #EFEFEF;
        border-right: 1px solid #EFEFEF;
        height: 320px;
    }

    .col-mid3 {
        border-top: 1px solid #EFEFEF;
        border-left: 1px solid #EFEFEF;
        height: 320px;
    }

    .img-midd {
        margin-top: 50px;
    }

    .span-work {
        height: 100px;
        margin-top: 50px;
        margin-left: 5%
    }

    .span1 {
        font-size: 50px;
    }

    .my-work-photo {
        background-image: url(../images/gallery1.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 570px;
        height: 400px;
    }

    .my-work-photo1 {
        background-image: url(../images/gallery2.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 570px;
        height: 400px;
    }

    .my-work-photo2 {
        background-image: url(../images/gallery3.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 570px;
        height: 400px;
    }

    .my-work-photo3 {
        background-image: url(../images/gallery4.png.webp);
        background-size: cover;
        overflow: hidden;
        width: 570px;
        height: 400px;
    }

    .more-work {
        width: 100%;
        height: 170px;
        color: #FF9064;
    }

    .button-more-work {
        width: 165px;
        height: 50px;
        border: 2px solid #FF9064;
    }

    .half-70 {
        width: 75%;
        height: 770px;
        background-color: #F8F8F8;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }

    .about-h2 {
        font-size: 50px;
    }

    .about-p2 {
        font-size: 26px;
        color: #FF9064;
    }

    .mid-slider {
        height: 450px;
    }

    .num-all {
        margin-top: 10%;
    }

    .num1 {
        width: 570px;
    }

    .progress-1>span {
        color: #FF9064;
    }

    .progress-bar1 {
        height: 4px;
        background-color: #FFE7DE;
    }

    .progress-bar11 {
        width: 70%;
        background-color: #FF9064;
    }

}