@media all and (max-width:767px) {}

@media all and (min-width:768px) {
    * {
        font-family: sans-serif;
    }

    .top-page {
        background-color: #FF9064;
        height: 300px;
    }

    button {
        right: 5%;
        background-color: #FF9064;
        width: 10%;
        height: 50px;
    }

    .logo {
        position: absolute;
        left: 4%;
    }

    .nav {
        left: 77%;
        margin-left: -41%;
        margin-top: 2%;
    }

    .p1 {
        font-size: calc(1vw + 0.5px);
    }
}