@media all and (max-width:575.5px) {

    /* xs */
    .top-page {
        height: 130px;
        background-color: #FF9064;
    }

    .logo {
        width: 135px;
        height: 46px;
    }

    .top-page2 {
        height: 290px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .top-page-3 {
        height: 350px;
        background-color: #FF9064;
    }

    .toppage0 {
        height: 2000px;
        background-color: bisque;
    }

    .pic1 {
        width: 150px;
        height: 150px;
    }

    h1 {
        font-size: 27px;
        line-height: 1;
        font-family: sans-serif;
    }

    .p-text1 {
        font-size: 18px;
        font-family: sans-serif;
    }

    .p-top1 {
        font-size: 20px;
        line-height: 2;
    }

    .p-top2 {
        font-size: 15px;
    }

}

/* ***************************************************************************************** */
@media all and (min-width:576px) and (max-width:767px) {

    /* sm */
    .top-page {
        height: 130px;
        background-color: #FF9064;
    }

    .top-page2 {
        height: 151px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .top-page-3 {
        height: 250px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .toppage0 {
        height: 2000px;
        background-color: bisque;
    }

    .pic1 {
        width: 150px;
        height: 150px;
    }

    h1 {
        font-size: 34px;
        line-height: 1;
        font-family: sans-serif;
    }

    .p-text-1 {
        font-size: 23px;
        font-family: sans-serif;
    }

    .p-top1 {
        font-size: 20px;
        line-height: 1.75;
    }

    .p-top2 {
        font-size: 15px;
    }

    .logo {
        width: 135px;
        height: 46px;
    }
}

/* ***************************************************************************************** */
@media all and (min-width:768px) and (max-width:991px) {

    /* md */
    .top-page {
        height: 130px;
        background-color: #FF9064;
    }

    .top-page2 {
        height: 250px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .top-page-3 {
        height: 210px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .toppage0 {
        height: 2000px;
        background-color: bisque;
    }

    .pic1 {
        width: 250px;
        height: 250px;
    }

    h1 {
        font-size: 40px;
        line-height: 1;
        font-family: sans-serif;
    }

    .p-text-1 {
        font-size: 28px;
        font-family: sans-serif;
    }

    .p-top1 {
        font-size: 20px;
        line-height: 1.75;
    }

    .p-top2 {
        font-size: 15px;
    }

    .logo {
        width: 135px;
        height: 46px;
    }
}

/* ***************************************************************************************** */
@media all and (min-width:992px) and (max-width:1199px) {

    /* lg */
    .top-page {
        height: 250px;
        background-color: #FF9064;
    }

    .top-page2 {
        height: 350px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .top-page-3 {
        height: 200px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .toppage0 {
        height: 2000px;
        background-color: bisque;
    }

    .pic1 {
        width: 327px;
        height: 327px;
    }

    h1 {
        font-size: 53px;
        line-height: 1;
        font-family: sans-serif;
    }

    .p-text-1 {
        font-size: 30px;
        font-family: sans-serif;
    }

    .p-top1 {
        font-size: 20px;
        line-height: 1.75;
    }

    .p-top2 {
        font-size: 26px;
    }

    .button1 {
        width: 150px;
        height: 50px;
        background-color: #FF9064;
    }

    .logo {
        width: 135px;
        height: 46px;
    }

    li {
        list-style-type: none;
        padding-right: 35px;
        padding-top: 30px;
    }

    li>a {
        font-size: 16px;
    }
}

/* ***************************************************************************************** */
@media all and (min-width:1200px) and (max-width:1399px) {

    /* xl */
    .top-page {
        height: 300px;
        background-color: #FF9064;
    }

    .top-page2 {
        height: 350px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .top-page-3 {
        height: 200px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .toppage0 {
        height: 2000px;
        background-color: bisque;
    }

    .pic1 {
        width: 327px;
        height: 327px;
    }

    h1 {
        font-size: 70px;
        line-height: 1;
        font-family: sans-serif;
    }

    .p-text-1 {
        font-size: 30px;
        font-family: sans-serif;
    }

    .p-top1 {
        font-size: 20px;
        line-height: 2;
    }

    .p-top2 {
        font-size: 26px;
    }

    .button1 {
        width: 150px;
        height: 50px;
        background-color: #FF9064;
        margin-right: 55px;
    }

    .logo {
        width: 135px;
        height: 46px;
        margin-left: 70px !important;
    }

    li {
        list-style-type: none;
        padding-right: 45px;
        padding-top: 30px;
    }

    li>a {
        font-size: 16px;
    }
}

/* ***************************************************************************************** */
@media all and (min-width:1400px) {

    /* xxl */
    .top-page {
        height: 300px;
        background-color: #FF9064;
    }

    .top-page2 {
        height: 350px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .toppage0 {
        height: 2000px;
        background-color: bisque;
    }

    .top-page-3 {
        height: 200px;
        background-color: #FF9064;
        margin-top: -5px;
    }

    .pic1 {
        width: 327px;
        height: 327px;
    }

    h1 {
        font-size: 70px;
        line-height: 1;
        font-family: sans-serif;
    }

    .p-text-1 {
        font-size: 30px;
        font-family: sans-serif;
    }

    .p-top1 {
        font-size: 20px;
    }

    .p-top2 {
        font-size: 26px;
    }

    .button1 {
        width: 150px;
        height: 50px;
        background-color: #FF9064;
        margin-right: 55px;
    }

    .logo {
        width: 135px;
        height: 46px;
        margin-left: 70px !important;
    }

    li {
        list-style-type: none;
        padding-right: 45px;
        padding-top: 30px;
    }

    li>a {
        font-size: 16px;
    }
}